body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    padding: 10px 0;
}
.section-edit{
    display: flex;
    margin-bottom: 10%;
}
h1{
    font-size: 40px;  
}
#spanning-portion{
    color: orange;
}
.img-work{
    height: 500px;
    width: 500px;
}
.get-together{
    width: 50%;
    padding-left: 4.5%;
    margin-left: 2%;
    display: block;
}
.blog-pattern{
    color: gray;
    display: block;
}
.button-design{
    text-decoration: none;
    background: linear-gradient(to right top, lightsalmon, tomato);
    padding: 10px 35px;
    border-radius: 4px;
    color: white;
}
#dream-bg{
    height: 10%;
    width: 10%;
    padding-top: 14%;
}
